<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WVU Pattern Library - Utility Buttons</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>

    <link href="css/styles.css" rel="stylesheet" />

  </head>
  <body>
    <div class="container">
      <h1> WVU Variable Tests </h1>

      <h2> Color Tests </h2>
      <div class="colors">
      {{#wvu_variables.colors}}
        <div class="color {{.}}">
          <div class="color__name">{{.}}</div>
          <div class="color__swatches">
          {{#../wvu_variables.colors_dup}}
            <div class="color__swatch-{{.}}"></div>
          {{/../wvu_variables.colors_dup}}
          </div>
          <ol class="color__text">
            {{#../wvu_variables.colors_dup}}
            <li>
              <p class="color__text--large color__text-{{.}}">{{.}}</p>
              <p class="color__text--small color__text-{{.}}">{{.}}</p>
            </li>
            {{/../wvu_variables.colors_dup}}
          </ol>
        </div>
      {{/wvu_variables.colors}}
      </div>

      <h2>Grey Tones</h2>
      <div class="grey_tones">
      {{#wvu_variables.grey_tones}}
        <div class="grey_tone {{.}}">
          <div class="grey_tone">${{.}}</div>
        </div>
      {{/wvu_variables.grey_tones}}
      </div>

      <h2> Image Tests </h2>
      <div class="images">
      {{#wvu_variables.images}}
        <h3>${{name}}</h3>
        <div class="image {{name}}"></div>
      {{/wvu_variables.images}}
    </div>
    </div>
  </body>
</html>
