<!DOCTYPE html>
<html>
  <head>
    <title>WVU Pattern Library - Utility Buttons</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>

    <link href="css/styles.css" rel="stylesheet" />
    <style>
      body {
        padding: 20px;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <h1> WVU Variable Tests </h1>

      <h2> Color Tests </h2>
      <div class="colors">
      {{#wvu_variables.colors}}
        <div class="color {{.}}">
          {{#../wvu_variables.colors_dup}}
            <div class="color__swatch-{{.}}"></div>
          {{/../wvu_variables.colors_dup}}
          <div class="color__name">${{.}}</div>
        </div>
      {{/wvu_variables.colors}}
      </div>

      <h2> Image Tests </h2>
      <div class="images">
      {{#wvu_variables.images}}
        <h3>${{name}}</h3>
        <div class="image {{name}}"></div>
      {{/wvu_variables.images}}
    </div>
    </div>
  </body>
</html>
